{% set packageClass = package.replace('-', ' ').title().replace(' ', '') -%}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{package}}</title>
        <meta charset="UTF-8">
        <meta name="description" content="{{package}}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="markdown-model.css">
        <link rel="stylesheet" href="schema-markdown-doc.css">
    </head>
    <body>
    </body>
    <script type="module">
        import {{'{'}}{{packageClass}}} from './{{package}}/index.js';
        {{packageClass}}.run(window);
    </script>
</html>
